.transition, form button, form .question label, form .question input[type="text"] {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  }
  
  * {
    font-family: Helvetica, sans-serif;
    font-weight: light;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    margin: 0;
  }
  
  /* Navbar */
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  .topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Gradient Background for Hero Page */
  .hero-cover {
    background-image: linear-gradient(135deg, #04003e, #c41f83, #472975);
    height: 100%;
    width: 100%;
    position: fixed;
  }
  
  /* Hero Text for front page */
  .hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  form {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 90vw;
    max-height: 80vh;
    box-sizing: border-box;
    padding: 5vh 5vw; 
    background-color: white;
    border-radius: 40px;
    margin: 0 auto; 
  }
  
  form h2 {
    color: #4c2783;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  form button {
    margin-top: 7.5%;
    background-color: white;
    border: 1px solid #d52bb0;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: #d52bb0;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
  }
  
  form button:hover, form button:focus {
    color: white;
    background-color: #d52bb0;
  }
  
  /* CGS Logo */
  .logo-navbar {
    max-width: 150px;
    max-height: 150px;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
  }
  